<div class="d-flex flex-column">
    <div class="d-flex flex-row" *ngIf="bubble.isResponse()">
        <img src="{{bubble.getModel()!.avatar}}" alt="asdf" width="28px" height="28px" style="border-radius: 12px; filter: none !important"
            draggable="false" />
        <p class="d-inline" style="margin-block: auto"> &nbsp;&nbsp;{{bubble.getModel()!.name.split(' ')[0]}}</p>
    </div>

    <div [ngClass]="{ prompt: !bubble.isResponse() }" class="my-3" style="max-width: 80%; width: fit-content">
        <p class="m-0">{{ bubble.getMessage() }}</p>
    </div>
</div>
<style>
    .prompt {
        margin-left: auto;
        border-radius: 10px;
        background-color: #313539;
        padding: 0.5rem 1rem;
    }
</style>