<main class="my-5 d-flex justify-content-center">
    <div id="bubbles" class="row mt-3 mb-5">
        <app-bubble *ngFor="let item_bubble of bubbles; let i=index" [bubble]="item_bubble"
            ngClass="{{ i == bubbles.length - 1 ? 'animateLast' : ''}}"></app-bubble>
    </div>
    <div id="uiOverlay" class="d-flex flex-column align-items-start">
        <div id="modelOverlay" class="input-group d-flex justify-content-center"
            style="width: fit-content; border-radius: 12px; padding: 1.5px; margin-bottom: 0.8rem;">
            <input type="radio" name="model" id="deepseek" style="display: none;" [checked]="selectedModel?.name!.startsWith('Deepseek')"
                (change)="switchModel('Deepseek')">
            <label class="px-4" for="deepseek"
                style="border-radius: 12px 0 0 12px; margin-left: 2px; padding-block: 8px; user-select: none">Deepseek</label>

            <input type="radio" name="model" id="llama" style="display: none;" [checked]="selectedModel?.name!.startsWith('Llam')"
                (change)="switchModel('Llama')">
            <label class="px-4" for="llama"
                style="border-radius: 0 12px 12px 0; margin-inline-start: 1px; padding-block: 8px; user-select: none">Llama</label>
        </div>
        <div id="promptOverlay" style="background-color: var(--bg-body-secondary);">
            <textarea #autoExpand id="autoExpand" class="form-control inputPrompt" placeholder="Prompt" (input)="onPromptChange($event)"
                (keydown)="onEnterPressed($event)"></textarea>
            <div class="d-flex gap-3" id="modifierButtons">
                <div class="btn-group" role="group">
                    <input type="checkbox" class="btn-check" id="search" [checked]="search">
                    <label class="btn btn-outline-secondary px-3 pb-2 mt-1" for="search" (click)="toggleButton('search')">Search</label>
                </div>
                <div *ngIf="1 == 1" class="btn-group" role="group" [ngClass]="selectedModel?.name?.startsWith('Llama') ? 'disabled' : ''">
                    <input type="checkbox" class="btn-check" id="coder" [checked]="coder">
                    <label class="btn btn-outline-secondary px-3 pb-2 mt-1" for="coder" (click)="toggleButton('coder')">Coder</label>
                </div>
                <div class="btn-group" role="group" [ngClass]="selectedModel?.name?.startsWith('Llama') ? 'disabled' : ''">
                    <input type="checkbox" class="btn-check" id="deepthink" [checked]="deepthink">
                    <label class="btn btn-outline-secondary px-3 pb-2 mt-1" for="deepthink" (click)="toggleButton('deepthink')">DeepThink
                        (R1)</label>
                </div>
                <button (click)="sendPrompt(autoExpand)" type="button" id="send" class="btn" style="width: 2.6rem; margin-left: auto">
                    &nbsp;
                </button>
            </div>
        </div>
    </div>
</main>

<style>
    main {
        overflow: hidden;
        margin-inline: 26vw;

        * {
            overflow: auto;
        }

        .row {
            width: 100%;
        }
    }

    #bubbles {

        margin-bottom: 24vh !important;
        margin-top: 5vh !important;
        overflow: hidden;

        &:before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 3.8rem;
            display: block;
            background: #212529;
        }

        .animateLast {
            animation: animateLast 0.25s ease-in;
        }
    }

    @keyframes animateLast {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        65% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    #uiOverlay {

        position: fixed;
        justify-items: center;
        align-items: center;
        bottom: 1.3rem;
        margin-inline: auto;
        z-index: 99;

        #modelOverlay {

            margin-inline: auto;
            background-clip: content-box;
            background-color: var(--bg-body-secondary);

            input[type="radio"]+label {
                transition: background-color 0.3s;
            }

            input[type="radio"]:hover+label {
                background-color: rgba(var(--primary-color), 0.1);
            }

            input[type="radio"]:checked+label {
                background-color: rgba(var(--primary-color), 0.15);
                color: color-mix(in srgb, rgb(var(--primary-color)), rgb(150, 200, 150));
                outline: rgba(var(--primary-color), 0.6) 2px solid;
                z-index: 99;
            }
        }

        #promptOverlay {

            width: 50vw;
            background-color: var(--bg-body-secondary);
            border-radius: 2rem;
            padding: 1rem 1rem 0.5rem 1rem;

            .disabled {
                pointer-events: none;
                opacity: 0.5;
            }

            .inputPrompt {
                resize: none;
                border: none;
                max-height: calc(12 * 1.5rem);
                overscroll-behavior: contain;
                background-color: var(--bg-body-secondary);

                &:focus {
                    box-shadow: none;
                }
            }

            input[type="checkbox"] {
                &+label {
                    --color: #ffffff80;
                    overflow: hidden;
                    margin-bottom: 5px;
                    margin-inline: 1px;
                    padding-block: 18px !important;
                    height: 2.2rem;
                    color: var(--color);
                    font-size: 13px;
                    font-weight: 500;
                    border-width: 1.5px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    border-radius: 100px;
                    transition: background-color 0.3s;

                    &:before {
                        content: '';
                        margin-top: 2px;
                        margin-left: -7px;
                        margin-right: 7px;
                        display: inline-block;
                        width: 21px;
                        height: 21px;
                        mask-size: contain;
                        background-color: var(--color);
                        mask-repeat: no-repeat;
                    }
                }

                &#search+label:before {
                    mask-image: url('../../../../public/icons/browse.svg');
                }

                &#coder+label:before {
                    mask-image: url('../../../../public/icons/code.svg') !important;
                }

                &#deepthink+label:before {
                    mask-image: url('../../../../public/icons/deepthink.svg') !important;
                }

                &:hover+label {
                    background-color: rgba(var(--primary-color), 0.1);
                }

                &:checked+label {
                    background-color: rgba(var(--primary-color), 0.2);
                    color: color-mix(in srgb, rgb(var(--primary-color)), rgb(150, 200, 150));
                    border-color: rgba(var(--primary-color), 0.8);

                    &:before {
                        background-color: color-mix(in srgb, rgb(var(--primary-color)), rgb(150, 200, 150));
                    }
                }

            }

            #send {
                background-color: rgb(var(--primary-color));
                mask-image: url('../../../../public/icons/send.svg') !important;
                mask-size: contain;
                mask-repeat: no-repeat;
                overflow: hidden;
                border-radius: 1000px;

                &:hover {
                    background-color: color-mix(in srgb, rgb(var(--primary-color)), rgb(255, 255, 255));
                }
            }

            .btn-outline-primary {
                color: white !important;
            }
        }
    }

    @media (786px < width < 910px),
    (width <530px) {
        #modifierButtons {
            /* TODO - 370px Breakpoint, when the icons start to get smaller */
            justify-content: center;

            * {
                font-size: 0 !important;
                padding-right: 0 !important;
            }
        }
    }

    @media (width <=786px) {
        main {
            margin-inline: 5vw;
        }

        #promptOverlay {
            bottom: 1.2rem;
            min-width: 87vw !important;
        }
    }
</style>